/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0; /* ลบ Margin เริ่มต้นของเบราว์เซอร์ */
  padding: 0; /* ลบ Padding เริ่มต้นของเบราว์เซอร์ */
}